<nav class = "teacherNavBar">
    <ul><a href = "/teachWelcome">Home</a></ul>
    <ul><a href = "/teacherCreateCourse">Create Course</a></ul>
    <ul><a href = "/teacherCourseList">Course List</a></ul>

</nav>