<%- include('partials/header'); -%>
<!-- <%- include('partials/navForTeachers'); -%> -->

<!DOCTYPE html>
<!-- This is the home page where you can select whether you are a student or a teacher using the system -->
<html lang="en">
    
    <body>

        <!-- creating a container for styling -->
        <div class="container">

            <!-- creating a class for the form to hold the content -->
            <div class="formBackground">

                <div class="form-containter">

                    <h1>Welcome to Stellerwood </h1>

                </div>
            </div>
        </div>

        <%- include('partials/footer'); -%>
        <!-- linking the partials footer file where all the footer documentation lies -->    
       
    </body>
</html>

