<!-- studWelcom.ejs -->

<%- include('partials/header'); -%>

<%- include('partials/navForStudents'); -%>

<div class="container">
    <!-- creating a class for the form to hold the content -->
    <div class="formBackground">

        <div class="form-containter">

            <h1>Student Add Course  </h1>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
