<!-- teacherCourseLIst.ejs -->

<%- include('partials/header'); -%>

<%- include('partials/navForTeachers'); -%>

<div class="container">
    <!-- creating a class for the form to hold the content -->
    <div class="formBackground">

        <div class="form-containter">

            <h1>Course List</h1>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
