<!-- teacherCreateCourse.ejs -->

<%- include('partials/header'); -%>

<%- include('partials/navForTeachers'); -%>

<div class="container">
    <!-- creating a class for the form to hold the content -->
    <div class="formBackground">

        <div class="form-containter">
            <div class="create-course">
            <h1>Create a Course</h1><br>

            <form action="/teacherCreateCourse" method="post"> <!-- Update the form action here -->
                <label for="instructor">Instructor</label>
                <input type="text" id="instructor" name="instructor" required>

                <label for="title">Course Name</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Description</label>
                <textarea id="description" name="description" required></textarea>

                <label for="subjectArea">Subject Area</label>
                <input type="text" id="subjectArea" name="subjectArea" required>

                <label for="numOfCreditHours"># Credit Hours</label>
                <input type="text" id="numOfCreditHours" name="numOfCreditHours" required>

                <button type="submit">Add Course</button>
            </form> 
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
