<!-- TeachWelcome.ejs -->

<%- include('partials/header'); -%>

<!-- Main Content Section -->
<div class="teach-welcome-content">
  
<h1>This is the teacher's page</h1>
</div>

<%- include('partials/footer'); -%>
